In [20]:
import pandas as pd
import numpy as np
import json

In [32]:
crimes = pd.read_csv("data/corrected_full_organized_crime_data.csv")
crimes.head()

   id crime_group  year  num_crimes
0   1     BATTERY  2001           2
1   1     BATTERY  2002        1945
2   1     BATTERY  2003        2331
3   1     BATTERY  2004        2357
4   1     BATTERY  2005        2385

In [51]:
crimes.to_json( orient= "split")

'{"columns":["Community Area","ID"],"index":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76],"data":[[1.0,91970],[2.0,74711],[3.0,87919],[4.0,41995],[5.0,36176],[6.0,118190],[7.0,93236],[8.0,202149],[9.0,5802],[10.0,25481],[11.0,23732],[12.0,10740],[13.0,19998],[14.0,53607],[15.0,76627],[16.0,68601],[17.0,36959],[18.0,14213],[19.0,111245],[20.0,36623],[21.0,56740],[22.0,127164],[23.0,189803],[24.0,177540],[25.0,383069],[26.0,111005],[27.0,113923],[28.0,175377],[29.0,171762],[30.0,100927],[31.0,58538],[32.0,138932],[33.0,45650],[34.0,22211],[35.0,67103],[36.0,13125],[37.0,20234],[38.0,83389],[39.0,34187],[40.0,64687],[41.0,37128],[42.0,98826],[43.0,195640],[44.0,127978],[45.0,30757],[46.0,112220],[47.0,8976],[48.0,32372],[49.0,160296],[50.0,23929],[51.0,38800],[52.0,30218],[53.0,98830],[54.0,26264],[55.0,12994],[56.0,50144],[57.0,21736],[58.0,58988],[59.0,25101],[60.0,38747],[61.0,125020],[62.0,23352],[63.0,55742],[64.0,23755],[65.0,45181],[66.0,149388],[67.0,176876],[68.0,160701],[69.0,147736],[70.0,54573],[71.0,169896],[72.0,21659],[73.0,70938],[74.0,13516],[75.0,48092],[76.0,33232],[77.0,58768]]}'

In [42]:
crimes = pd.read_csv("data/corrected_full_crime_by_area.csv")
crimes.head()

   Community Area     ID
0             1.0  91970
1             2.0  74711
2             3.0  87919
3             4.0  41995
4             5.0  36176