In [1]:
#Dependencies: Python SQL toolkit and Object Relational Mapper
import pandas as pd

import sqlalchemy
from sqlalchemy import Column, Integer, String, Numeric, Text, Float
from sqlalchemy import create_engine, MetaData, inspect

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [2]:
# Declarive base from from SQLAlchemy to model tables as an ORM class
class Measurement(Base):
    __tablename__ = 'Measurement'
    id = Column(Integer,primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Integer)
    
class Station(Base):
    __tablename__ = 'Station'
    id = Column(Integer,primary_key=True)
    station = Column(Text)
    name = Column(Text)
    lat = Column(Float)
    lng = Column(Float)
    elev = Column(Float)

In [10]:
# Read CSV file into a pandas DataFrame
csv_measurement = pd.read_csv("clean_hawaii_measurements.csv", dtype=object)
#csv_measurement.head()

csv_station= pd.read_csv("clean_hawaii_stations.csv", dtype=object)
csv_station.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [11]:
# Create an engine to a SQLite database file 
engine = create_engine("sqlite:///hawaii.sqlite")

In [12]:
#Convenient function so that you can re-run the code multiple times.
Base.metadata.drop_all(engine)
Base.metadata.create_all(engine)

# Reflect Database

In [13]:
# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

#inspector = inspect(engine)
#inspector.get_table_names()

['Measurement', 'Station', 'measure']

In [14]:
#Create database session
session = Session(engine)

In [15]:
#Add table data
for index,row in csv_measurement.iterrows():
    session.add(Measurement(\
        station=row['station'],\
        date = row['date'],\
        prcp=row['prcp'],\
        tobs=row['tobs'],\
    ))

for index,row in csv_station.iterrows():
    session.add(Station(\
        station=row['station'],\
        name=row['name'],\
        lat=row['latitude'],\
        lng=row['longitude'],\
        elev=row['elevation']
    ))

In [16]:
session.commit()