In [1]:
# Dependencies
import json
import requests
from citipy import citipy
from random import uniform
import pandas as pd
import openweathermapy.core as ow
import matplotlib.pyplot as plt



#Import api_key 
from config import api_key

In [2]:
cities = []
def newpoint():
    return uniform(-180, 180), uniform(-90, 90)

r_coordinates = (newpoint() for x in range(10))
for coordinate_pair in r_coordinates:
    #print (city)
    cities.append(coordinate_pair)

In [3]:
cities

[(66.91573755922155, -43.83713861554282),
 (-165.28470711349084, -46.445695097630725),
 (13.0305698549584, -23.58313269224817),
 (-115.7469213823505, 21.951991555483062),
 (-15.359879643969805, -76.45327923359966),
 (17.94598121606805, -33.290763521093915),
 (138.35035472942138, 47.117531631943336),
 (-143.65092547999822, -6.32370013877096),
 (-123.60154798138558, 31.341844398069412),
 (105.47838351084181, 41.77272608874111)]

In [4]:
labels= ["Lon", "Lat"]
cities_coordinates = pd.DataFrame(cities, columns=labels)
cities_coordinates

          Lon        Lat
0   66.915738 -43.837139
1 -165.284707 -46.445695
2   13.030570 -23.583133
3 -115.746921  21.951992
4  -15.359880 -76.453279
5   17.945981 -33.290764
6  138.350355  47.117532
7 -143.650925  -6.323700
8 -123.601548  31.341844
9  105.478384  41.772726

In [5]:
#Save coordiantes as csv 
cities_coordinates.to_csv("output_analysis/cities_coordinates.csv",
                     encoding="utf-8", index=False)

In [6]:
cities

[(66.91573755922155, -43.83713861554282),
 (-165.28470711349084, -46.445695097630725),
 (13.0305698549584, -23.58313269224817),
 (-115.7469213823505, 21.951991555483062),
 (-15.359879643969805, -76.45327923359966),
 (17.94598121606805, -33.290763521093915),
 (138.35035472942138, 47.117531631943336),
 (-143.65092547999822, -6.32370013877096),
 (-123.60154798138558, 31.341844398069412),
 (105.47838351084181, 41.77272608874111)]

In [10]:
settings = {"appid": api_key, "units": "imperial"}
weather_data= []

In [11]:
#weather_data = [ow.get_current(city, **settings) for city in cities]
#weather_data

In [13]:
summary= ["name", "sys.id", "main.temp", "humidity.unit", "clouds.all", "wind.speed"]

In [14]:
data = [response(*summary) for response in weather_data]

In [15]:
weather_data = pd.DataFrame(data, index=cities)
weather_data

Empty DataFrame
Columns: []
Index: [(66.91573755922155, -43.83713861554282), (-165.28470711349084, -46.445695097630725), (13.0305698549584, -23.58313269224817), (-115.7469213823505, 21.951991555483062), (-15.359879643969805, -76.45327923359966), (17.94598121606805, -33.290763521093915), (138.35035472942138, 47.117531631943336), (-143.65092547999822, -6.32370013877096), (-123.60154798138558, 31.341844398069412), (105.47838351084181, 41.77272608874111)]

In [17]:
column_names = ["City Name", "City ID", 
                "Temperature (F)", "Humidity (%)", "Cloudiness (%)", "Wind Speed (mph)"]
weather_data = pd.DataFrame(data, index=cities, columns=column_names)
weather_data

,City Name,City ID,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
"(66.91573755922155, -43.83713861554282)",NaN,NaN,NaN,NaN,NaN,NaN
"(-165.28470711349084, -46.445695097630725)",NaN,NaN,NaN,NaN,NaN,NaN
"(13.0305698549584, -23.58313269224817)",NaN,NaN,NaN,NaN,NaN,NaN
"(-115.7469213823505, 21.951991555483062)",NaN,NaN,NaN,NaN,NaN,NaN
"(-15.359879643969805, -76.45327923359966)",NaN,NaN,NaN,NaN,NaN,NaN
"(17.94598121606805, -33.290763521093915)",NaN,NaN,NaN,NaN,NaN,NaN
"(138.35035472942138, 47.117531631943336)",NaN,NaN,NaN,NaN,NaN,NaN
"(-143.65092547999822, -6.32370013877096)",NaN,NaN,NaN,NaN,NaN,NaN
"(-123.60154798138558, 31.341844398069412)",NaN,NaN,NaN,NaN,NaN,NaN
"(105.47838351084181, 41.77272608874111)",NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#MapWrap 10 Unsolved Example